:root {
    --primary: #019fc3;
    --primary-hover: #01bce7;
    --primary-text: #37daff;
    --business: #2ad000;
    --personal: var(--primary);
    --light: rgb(1, 6, 17);
    --grey-white: rgb(236, 236, 236);
    --dark: #fdfdfd;
    --danger: #bc0401;
    --danger-hover: #da0502;
    --input-background: rgb(39, 38, 45); 
    --input-background-hover: rgb(74, 73, 79);

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --business-glow:0px 0px 8px #69e04c ;
    --personal-glow: 0px 0px 8px #019fc3;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}



body {
    background: var(--light);
    color: var(--dark);
}

section {   
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h3 {
    color: var(--dark);
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

h4 {
    color: var(--grey-white);
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom:  1rem;
}

.greeting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.greeting .title {
    display: flex;
    flex-direction: column;
}

.greeting .title,
.greeting .title input {
    margin-top: 0.6rem;
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

.greeting .title input {
    flex: 1 1 0%;
    min-width: 0;
    font-size: 2.6rem;
    color: var(--primary-text);
    text-shadow: 1px 1px 8px #019fc3
}


.greeting .title .input-name::placeholder {
    color: #a5a4a4;
}

.reset-button{
    padding: 16px 18px;
    color: white;
    font-size: 16px;
    background-color: var(--primary);
    border-radius: 6px;
    cursor: pointer;
}

button.reset-button:hover {
    background-color: var(--primary-hover);
}

.create-todo {
    margin-bottom: 3.5rem;
}

.create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: var(--input-background);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color:var(--input-background);;
    border-radius: 0.5rem;
    box-shadow:  var(--shadow);
    cursor: pointer;
}

.create-todo .options label:hover {
background-color: var(--input-background-hover);
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
}

.bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}


.bubble::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.bubble.personal::after{
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

/* checkbox */

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 20%;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
}

.check.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.checkbox_input:checked+.check::after {
    content: "\2714";
    color: #fff;
    transition: 0.2s ease-in-out;
    background: var(--business);
   
}
.checkbox_input:checked + .check {
    background: var(--business);
    box-shadow: var(--business-glow);

}


.checkbox_input:checked+ .check.personal::after {
    content: "\2714";
    color: #fff;
    transition: 0.2s ease-in-out;
    background-color: var(--personal);
   
}


.checkbox_input:checked + .check.personal {
    background: var(--personal);
    box-shadow: var(--personal-glow);

}

input:checked ~ .bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo .options label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

.create-todo input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--grey-white);;
    background-color: var(--primary);
    border-radius: 00.5rem;
    box-shadow: var(--personal-glow);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover {
    background-color: var(--primary-hover);
}

.todo-list .list {
    margin: 1rem 9;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: var(--input-background);;
    padding: 1.2rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item.done:hover {
    background-color: var(--input-background-hover);
    cursor: pointer;
}

.todo-item .todo-content {
    flex:  1 1 0%;
}

.todo-item .todo-content input {
    color: var(--dark);
    font-size: 1.125rem;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    display: block;
    padding: 0.6rem;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button.edit:hover {
    background-color: var(--primary-hover);
}

.todo-item .actions button.delete:hover {
    background-color: var(--danger-hover);
}

.todo-item .actions .edit {
    margin-right: 0.7rem;
    background-color: var(--primary);
}

.todo-item .actions .delete {
    background-color: var(--danger);
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--grey-white);
}